<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiências</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Full Stack Developer</h3>
                            <div class="time">2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Laboratório Avançado de Produção Pesquisa e Inovação em Software</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Integrante da equipe de desenvolvimento do projeto Portal FGA. Responsável pela automação, manutenção e deploy dos ambientes de produção hospedados na
                      infraestrutura do LAPPIS.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Integrante da equipe DevOps</h3>
                            <div class="time">2015 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Laboratório Avançado de Produção Pesquisa e Inovação em Software</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Participei da equipe DevOps no projeto Software Público Brasileiro. Fui responsável por melhorar a automação das atividades de entrega contínua e deploy
                      cotínuo. Primeira aplicação de conhecimentos de ferramentas voltadas para DevOps como Chef e Vagrant. Primeiro contato com infraestrutura com servidores e
                      ferramentas de virtualização com OpenNebula e empacotamento para Deb e RPM.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Líder de Equipe e Desenvolvedor</h3>
                            <div class="time">2014 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Laboratório Avançado de Produção Pesquisa e Inovação em Software</div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>Primeira atuação em projeto de desenvolvimento no Laboratório Avançado de Produção Pesquisa e Inovação em Software (LAPPIS) como líder de equipe.
                      Participei do desenvolvimento de uma aplicação web em Ruby on Rails para gerência de desempenho da Universidade de Brasília. Fui responsável pelo
                      contato com o cliente, organização de atividades e tarefas em conjunto com a equipe utilizando técnicas do Scrum, programação de back-end e front-end.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
