<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Back End Developer (Ruby on Rails)</h3>
                            <div class="time">2017 - Present</div>
                        </div><!--//upper-row-->
                         <div class="company">
                           Ignição Digital
                         </div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>
                      Since January 2017, I've been working at Ignição Digital as a Backend
                      Developer with Ruby on Rails. For about a year, I worked on a project that
                      is build up with Ruby on Rails fullstack mode and Javascript, so I have to
                      learn more about JS.
                      
                      I managed a team of 2 to 3 people for about 4 month, but I drop it because
                      it was really stressful. Through this period, I learn some things about
                      team leadingship and management, but I think I'm still not good at it.
                      
                      Currently I still working with Ruby on Rails, but now I'm learning VueJS
                      and NodeJS as a Frontend and Backend applications and working with Docker
                      on the developer enviroment.
                      </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Full Stack Developer</h3>
                            <div class="time">2016 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">
                          Laboratório Avançado de Produção Pesquisa e Inovação em Software
                          (Advanced Production Lab Research and Innovation in Software)
                        </div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>
                      I worked as a developer on a project called Portal FGA (FGA Webpage).
                      I was responsible for the application deployment, maintaining and
                      automation process. We had our own server, so I had to work on the physical
                      server as well.
                      </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Member of DevOps Team</h3>
                            <div class="time">2015 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">
                          Laboratório Avançado de Produção Pesquisa e Inovação em Software
                          (Advanced Production Lab Research and Innovation in Software)
                        </div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>
                      I was a member of the DevOps Team on the Software Público Brasileiro
                      (Brazilian Public Softwares). I was responsible for the automation, working
                      with continuous integration, continuous deploying, deploying with Chef
                      on production environment, replicate production and staging enviroment on
                      developer enviroment with Vangrat and Chef and creating RPM and DEB
                      packages to provide the application via package manager such as Yum and Apt.
                      I maintain the physical server with a virtualization tools called OpenNebula
                      and manage the developers access and maintaining the virtual machines.
                      This was my first experience with cloud infrastructure and architecture.
                      </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">
                              Leader of a Developer Team
                            </h3>
                            <div class="time">2014 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">
                          Laboratório Avançado de Produção Pesquisa e Inovação em Software
                          (Advanced Production Lab Research and Innovation in Software)
                        </div>
                    </div><!--//meta-->
                    <div class="details">
                      <p>
                      I led a team in a project for the university. That was my first time working on
                      a real life project and as a leader. I was responsible for talking to the client,
                      organize the schedule of the team, define the tasks for the sprint, keep
                      track of the progress of the project and coding on a Ruby on Rails API application.
                      We worked with Scrum and ExtreamPrograming frameworks for management.
                      </p>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
