<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Perfil</h2>
<div class="summary">
  <p>Sou desenvolvedor de software, em formação pela Universidade de Brasília. Focado em aprendizado variado, desde desenvolvimento de front-end utilizando
  frameworks como Angular e React até automação de infraestrutura com Chef e Shell scripts. Entusiasta com eletrônica, crio pequenos projetos com Arduino
  e Raspberry. Tenho melhor desempenho com infraestrutura e administração de redes. Sempre fazendo Getting Started com novas tecnologias. Interesse em melhorar
  o conhecimento com Mobile utilizando frameworks como Ionic e React Native. Sempre buscando melhorar o conhecimento.</p>
</div><!--//summary-->
</section><!--//section-->
