<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Profile</h2>
<div class="summary">
  <p>
  I'm a Software Developer with a degree in Software Engneering.
  I learned about different types of methodology for project management and software
  development. I worked with many programming languages such as C, Python, Ruby, Javascript,
  Java and others. I'm a enthusiast about eletronic project with Arduino and Raspberry for home
  automation. I countinuously trying to improve my skill, not only with development.
  I currently found a hobby as a photographer and I'm loving it.
  </p>
</div><!--//summary-->
</section><!--//section-->
