<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title">
                      <a href="#hook">
                        Software Público Brasileiro
                        (Brazilian Public Softwares)
                      </a>
                    </span>
                    <span class="project-tagline">
                      - Software Público Brasileiro (SPB) is a colaborative platform for open
                      source software development
                      to the brazilian public administration. SPB stores all open source projects
                      used through all public organization. It's integrates with Gitlab, Colab and
                      Noofero applications.
                    </span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title">
                      <a href="#" target="_blank">
                        Sistema de Gestão de Desempenho
                        (Performace Management System)
                      </a>
                    </span>
                    <span class="project-tagline">
                      - Sistema de Gestão de Desempenho (SGD) is a system that provides tools
                      to manage a team performace based on their scores given by others team meambers.
                      It's build with Ruby on Rails Fullstack. It follows the local requirements and rules
                      of the UnB (Brasília University).
                    </span>
                </div><!--//item-->
            </section><!--//section-->
