<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">Software Público Brasileiro</a></span>
                    <span class="project-tagline">
                      - Plataforma para desenvolvimento colaborativo de software livre voltada para a administração pública brasileira.
                      Hospeda os software livres que são utilizados pelo governo.
                      Integra ferramentas como Gitlab, Colab e Noosfero, além de outras auxiliares como Postfix, Mainman, Nginx.
                    </span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Sistema de Gestão de Desempenho</a></span>
                    <span class="project-tagline">
                      - Sistema voltado para auxilio da administração da UnB. Aplicação Web construída com Ruby on Rails, disponibiliza
                      funcionalidades básicas de gerência de usuário e segue o modelo de avaliação previsto pela Unb.
                    </span>
                </div><!--//item-->
            </section><!--//section-->
