<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills</h2>
                <div class="skillset">
                    <div class="item">
                        <h3 class="level-title">Ruby on Rails</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="70%">
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="level-title">Git</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="75%">
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="level-title">Linux Server</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="50%">
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="level-title">Continuous Integrations</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="70%">
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="level-title">Scrum &amp; eXP</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="80%">
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="level-title">HTML &amp; CSS</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="30%">
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="level-title">Python &amp; Django</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="15%">
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="level-title">Android Native(Java) and React-Native</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="20%">
                            </div>                                      
                        </div>
                    </div>
                </div>
            </section>
