<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Habilidade &amp; Conhecimento</h2>
                <div class="skillset">
                    <div class="item">
                        <h3 class="level-title">Ruby on Rails</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="40%">
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="level-title">Ruby Gems</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="50%">
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="level-title">Git</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="70%">
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="level-title">Android Native</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="30%">
                            </div>                                      
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="level-title">Android React-Native</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="20%">
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="level-title">HTML &amp; CSS</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="60%">
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="level-title">Python &amp; Django</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="25%">
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="level-title">Sketch &amp; Photoshop</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="50%">
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="level-title">DevOps</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="80%">
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="level-title">Chef</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="70%">
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="level-title">Linux Server</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="60%">
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="level-title">Shell Scripting</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="30%">
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="level-title">Continuous Integrations</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="60%">
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="level-title">Quality Assurance (QA)</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="50%">
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="level-title">Scrum &amp; eXP</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="60%">
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="level-title">C Language</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="20%">
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="level-title">Computer Network</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="50%">
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="level-title">Business Modeling</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="30%">
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="level-title">Debian Packing</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="20%">
                            </div>
                        </div>
                    </div>

                    <div class="item">
                        <h3 class="level-title">RPM Packing</h3>
                        <div class="level-bar">
                            <div class="level-bar-inner" data-level="30%">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
